/* ==UserStyle==
@name         Shapeshift Profile Pictures
@description  Change the shape of avatars to circle, rounded, square, or anything in between. You decide.
@version      1.9.8
@namespace    Sainan
@author       Sainan
@homepageURL  https://github.com/Sainan/Shapeshift-Profile-Pictures
@supportURL   https://github.com/Sainan/Shapeshift-Profile-Pictures/issues
@updateURL    https://raw.githubusercontent.com/Sainan/Shapeshift-Profile-Pictures/senpai/browser/Shapeshift-Profile-Pictures.user.css
==/UserStyle== */
:root {
    --avatar-shape: 8%;
                 /***************\
                 * 50% : circle  *
                 *  8% : rounded *
                 *   0 : square  *
                 \***************/
}

@-moz-document domain("tweetdeck.twitter.com")
{
    .avatar
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("twitter.com")
{
    /* Profile */
    .r-cnkkqs,
    /* Tweets & Suggestions */
    .r-h3s6tt,
    .r-h3s6tt .r-sdzlij,
    /* "Show this thread" */
    .r-1yvhtrz,
    .r-1yvhtrz .r-sdzlij,
    /* Hover card */
    .r-7a29px,
    .r-7a29px .r-sdzlij,
    /* "Followed by" */
    .r-z80fyv
    {
        border-radius: var(--avatar-shape) !important;
    }
    
    .r-4mshu /* "Followed by" */
    {
        margin-left: 4px !important;
    }
    
    .r-cnkkqs .r-sdzlij, /* Profile */
    .r-z80fyv .r-sdzlij /* "Followed by" */
    {
        border-radius: 0 !important;
    }
}

@-moz-document domain("discord.com")
{
    [class*='avatar-'],
    [class*='voiceAvatar-'],
    svg[class*='avatarHint-'],
    [class*='iconInactive-98JN5i-'],
    [class*='avatarUploaderInner-'],
    [class*='avatarContainer-'],
    [class*='border-']
    {
        border-radius: var(--avatar-shape) !important;
    }

    svg[class*='mask-'] foreignObject,
    svg[class*='avatarHint-'] foreignObject,
    svg[class*='callAvatarMask-'] foreignObject
    {
        mask: none !important;
    }
}

@-moz-document domain("mail.google.com")
{
    [data-hovercard-id]
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("hangouts.google.com")
{
    .jr .xU,
    .n291pb.uaxL4e .Yf,
    .n291pb.uaxL4e .PUlnVb
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("contacts.google.com")
{
    .HfynVe
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("trello.com")
{
    .member-avatar,
    .mini-profile-member,
    ._24AWINHReYjNBf
    {
        border-radius: var(--avatar-shape) !important;
    }
    
    .board-header-facepile .member
    {
        margin: 0 4px 4px 0 !important;
    }
}

@-moz-document domain("youtube.com")
{
    yt-img-shadow#avatar,
    yt-img-shadow.ytd-channel-avatar-editor,
    #avatar-btn yt-img-shadow,
    #author-thumbnail yt-img-shadow,
    yt-img-shadow#author-thumbnail,
    yt-img-shadow.ytd-guide-entry-renderer,
    .ytp-title-channel-logo
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("youtube-nocookie.com")
{
    .ytp-title-channel-logo,
    .ytp-title-channel
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("reddit.com")
{
    ._34CfAAowTqdbNDYXz5tBTW,
    ._3-8BEp7zk8HU_Tq2SjmosX,
    ._13ScjOmi6dGdJw0JAonQEr,
    ._2E_zUw3OUkCKUFrIQwE894,
    .Mh_Wl6YioFfBc9O1SQ4Jp,
    ._3rnV85Ep3gNSeNzlSEJ0eC
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("facebook.com")
{
    .spb7xbtv, .s45kfl79, .emlxlaya, .bkmhp75w,
    svg.pzggbiyp
    {
        border-radius: var(--avatar-shape) !important;
    }

    svg.pzggbiyp > g
    {
        mask: none !important;
    }
}

@-moz-document domain("github.com")
{
    .avatar
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("instagram.com")
{
    ._2dbep,
    .tUtVM
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("web.whatsapp.com")
{
    html[dir] ._3t3gU,
    html[dir] ._1l12d,
    html[dir] ._3JaPz,
    html[dir] ._1huBh
    {
        border-radius: var(--avatar-shape) !important;
    }
}

@-moz-document domain("keybase.io")
{
    .img-circle
    {
        border-radius: var(--avatar-shape) !important;
    }
}
