/**
 * @name Shapeshift Profile Pictures
 * @description Change the shape of avatars to circle, rounded, square, or anything in between. You decide.
 * @author Sainan
 * @website https://github.com/Sainan/Shapeshift-Profile-Pictures
 * @source https://github.com/Sainan/Shapeshift-Profile-Pictures
 * @version 1.0.6
*/

:root {
    --avatar-shape: 8%;
                 /***************\
                 * 50% : circle  *
                 *  8% : rounded *
                 *   0 : square  *
                 \***************/
}

[class*='avatar-'],
[class*='voiceAvatar-'],
svg[class*='avatarHint-'],
[class*='iconInactive-98JN5i-'],
[class*='avatarUploaderInner-'],
[class*='avatarContainer-'],
[class*='border-']
{
    border-radius: var(--avatar-shape) !important;
}

svg[class*='mask-'] foreignObject,
svg[class*='avatarHint-'] foreignObject,
svg[class*='callAvatarMask-'] foreignObject
{
    mask: none !important;
}
