/**
 * @name Shapeshift Profile Pictures
 * @description Change the shape of avatars to circle, rounded, square, or anything in between. You decide.
 * @author Sainan
 * @website https://github.com/Sainan/Shapeshift-Profile-Pictures
 * @version 1.0.2
 * @source https://raw.githubusercontent.com/Sainan/Shapeshift-Profile-Pictures/bd-1.0.2/better-discord/Shapeshift-Profile-Pictures.theme.css
*/

:root {
    --avatar-shape: 8%;
                 /***************\
                 * 50% : circle  *
                 *  8% : rounded *
                 *   0 : square  *
                 \***************/
}

.avatar-VxgULZ,
.avatar-1BDn8e,
svg.avatarHint-1qgaV3,
.iconInactive-98JN5i,
.avatarUploaderInner-2EvNMg
{
    border-radius: var(--avatar-shape) !important;
}

svg.mask-1l8v16 foreignObject,
svg.avatarHint-1qgaV3 foreignObject
{
    mask: none !important;
}
