/**
 * @name Shapeshift Profile Pictures
 * @description Change the shape of avatars to circle, rounded, square, or anything in between. You decide.
 * @author Sainan
 * @website https://github.com/Sainan/Shapeshift-Profile-Pictures
 * @source https://github.com/Sainan/Shapeshift-Profile-Pictures
 * @version 1.0.7
*/

:root {
    --avatar-shape: 8%;
                 /***************\
                 * 50% : circle  *
                 *  8% : rounded *
                 *   0 : square  *
                 \***************/
}

[class*='avatar_'],
[class*='voiceAvatar_'],
svg[class*='avatarHint_'],
[class*='avatarUploaderInner_'],
[class*='avatarContainer_'],
[class*='border_']
{
    border-radius: var(--avatar-shape) !important;
}

svg[class*='mask_'] foreignObject,
svg[class*='avatarHint_'] foreignObject,
svg[class*='callAvatarMask_'] foreignObject
{
    mask: none !important;
}
